<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../static/css/layui.css" media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
    <style>
        .layui-layer-page .layui-layer-content {
            position: relative;
            overflow: visible !important;
            padding-top: 1px;
        }
    </style>
</head>
<body>

<div class="layui-tab" style="margin-top: 30px;margin-left: 30px;margin-right: 30px">
    <div class="layui-btn-group demoTable">
        <button class="layui-btn" data-type="new_spider">新增爬虫</button>
    </div>
    <table class="layui-table" id='spider_list' lay-filter="spider_list"></table>
    {% raw %}
    <script type="text/html" id="barDemo">
        <a {{ d.spider_status== '0'
        ? 'class="layui-btn layui-btn-warm layui-btn-xs" lay-event="run"' : 'class="layui-btn layui-btn-disabled layui-btn-xs" disabled="true"' }}>运行</a>
        <a {{ d.spider_status== '0'
        ? 'class="layui-btn layui-btn-disabled layui-btn-xs" disabled="true"' : 'class="layui-btn layui-btn-xs" lay-event="get_result"' }}>结果</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    {% endraw %}
</div>

<script src="../static/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<!--<script src="../static/jquery-3.1.1.min.js" charset="utf-8"></script>-->
<!--引了jq后爬取结果放大全屏高度会只有一半-->
<script>
    //全局变量，传到子页面
    var spiderId = "";//爬虫ID
    var education_dict = {
        "10": "初中",
        "20": "高中",
        "30": "中技",
        "40": "中专",
        "50": "大专",
        "60": "本科",
        "70": "硕士",
        "80": "博士"
    };
    layui.use(['element', 'table', 'form'], function () {
        var $ = layui.jquery
            , element = layui.element //Tab的切换功能，切换事件监听等，需要依赖element模块
            , table = layui.table
            , form = layui.form;

        //记录页码用于重载定位
        var pageNum = 0;
        table.render({
            elem: '#spider_list'
            , id: 'spider_list'
            , url: '/cjol/get_spiders'
            , method: 'GET'
            , done: function (res, curr, count) {
                //如果是异步请求数据方式，res即为你接口返回的信息。
                //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
//                pendingPageNum = curr;
            }
            , cols: [[ //标题栏
                //{type:'checkbox',fixed: 'left'},
                {field: 'spider_id', title: 'ID', sort: true, fixed: true}
                , {field: 'Keyword', title: '关键字', sort: true, fixed: true}
                , {field: 'MinWorkExperience', title: '最短工作年限', sort: true, fixed: true}
                , {field: 'MinEducationText', sort: true, title: '最低学历', fixed: 'left'}
                , {field: 'ExpectedLocationText', sort: true, title: '期望工作地点', fixed: 'left'}
                , {fixed: 'right', align: 'center', toolbar: '#barDemo'}
            ]]
            , skin: 'line' //表格风格
            , even: true
            , page: true //是否显示分页
            , limits: [5, 10, 15]
            , limit: 10 //每页默认显示的数量
        });

        //监听工具条
        table.on('tool(spider_list)', function (obj) {
            var data = obj.data;
            if (obj.event === 'run') {
                //运行爬虫
                $.ajax({
                    url: "{{ url_for('cjol.run_spider')}}",
                    dataType: "json",
                    type: "POST",
                    data: {
                        "Keyword": data['Keyword'],
                        "MinEducation": data['MinEducation'],
                        "MinEducationText": data['MinEducationText'],
                        "MinWorkExperience": data['MinWorkExperience'],
                        "ExpectedLocationText": data['ExpectedLocationText'],
                        "ExpectedLocation": data['ExpectedLocation'],
                        "SpiderId": data['spider_id'],
                    },
                });
                layer.confirm("稍后可刷新页面查看结果！")
                table.reload('spider_list', {
                    where: { //设定异步数据接口的额外参数，任意设
                    }
                    , page: {
                        curr: pageNum //重新从第 1 页开始
                    }
                });
            } else if (obj.event === 'get_result') {
                //获取爬虫结果
                setSpiderId(data['spider_id'])
//                console.log(data['spider_id'])
                layer.open({
                    type: 2, //iframe
                    title: "爬取结果",
                    area: ['550px', '350px'],
                    shade: 0.8,
                    scrollbar: false,
                    maxmin: true,
                    closeBtn: 1,
                    id: data['spider_id'], //设定一个id，防止重复弹出
                    btnAlign: 'c',
                    moveType: 1, //拖拽模式，0或者1
                    content: '{{ url_for("cjol.cjol_spider_result") }}',
//                    btn: ['关闭窗口'],
                });
            } else if (obj.event === 'del') {
                //删除爬虫
                layer.confirm('确定删除该爬虫及爬虫的结果吗？', function (index) {
                    obj.del();
                    $.ajax({
                        url: "{{ url_for('cjol.del_spider')}}",
                        type: "POST",
                        dataType: "json",
                        data: {
                            "spider_id" : data['spider_id']
                        },
                        success: function (data) {
                            layer.confirm("删除成功！")
                        }
                    });
                    layer.close(index);
                });
            }
        });
        //触发事件
        var active = {
            new_spider: function () {
                layer.open({
                    type: 1,
                    title: "新增爬虫",
                    area: ['520px', '350px'],
                    shade: 0.8,
                    scrollbar: false,
//                    closeBtn: 0, //不显示关闭按钮
//                    shadeClose: true, //开启遮罩关闭
                    resize: false,
                    id: 'new_spider', //设定一个id，防止重复弹出
                    btnAlign: 'c',
                    moveType: 1, //拖拽模式，0或者1
                    content: '<form class="layui-form" style="margin-top: 30px;">'
                    + '<div class="layui-inline">'
                    + '<div class="layui-form-item">'
                    + '<label class="layui-form-label">关键字</label>'
                    + '<div class="layui-input-inline">'
                    + '<input type="text" id="Keyword" onfocus="showTips()" onblur="closeTips()"'
                    + 'name="Keyword" lay-verify="required" placeholder="请输入搜索关键字"'
                    + 'autocomplete="off"'
                    + 'class="layui-input show_tips"'
                    + 'style="width: 375px;">'
                    + '</div>'
                    + '</div>'
                    + '<div class="layui-form-item">'
                    + '<label class="layui-form-label">学历</label>'
                    + '<div class="layui-input-block">'
                    + '<div class="layui-inline" style="width: 180px;">'
                    + '<select name="MinEducationText" id="MinEducationText" lay-filter="MinEducationText" lay-search>'
                    + '<option value="10">初中</option>'
                    + '<option value="20">高中</option>'
//                    + '<option value="30">中技</option>'
                    + '<option value="40">中专</option>'
                    + '<option value="50" selected="">大专</option>'
                    + '<option value="60">本科</option>'
                    + '<option value="70">硕士</option>'
                    + '<option value="80">博士</option>'
                    + '</select>'
                    + '</div>'
                    + '<div class="layui-inline" style="width: 185px;">'
                    + '<input type="text" name="MinWorkExperience" id="MinWorkExperience" lay-verify="number" placeholder="工作年限" class="layui-input">'
                    + '</div>'
                    + '</div>'
                    + '</div>'
                    + '<div class="layui-form-item" style="width: 375px;">'
                    + '<label class="layui-form-label">期望工作地</label>'
                    + '<div class="layui-input-block" style="width: 375px;">'
                    + '<input name="ExpectedLocationText" id="ExpectedLocationText" class="layui-input layui-disabled" disabled value="深圳">'
                    + '</div>'
                    + '</div>'
                    + '</div>'
                    + '</form>',
                    btn: ['确定', '取消'],
                    yes: function (index, layero) {
                        //按钮【确定】的回调
                        var timestamp = new Date().getTime();
                        $.ajax({
                            url: "{{ url_for('cjol.add_spider')}}",
                            dataType: "json",
                            type: "POST",
                            data: {
                                "Keyword": $('#Keyword').val(),
                                "MinEducation": $('#MinEducationText').val(),
                                "MinEducationText": education_dict[$('#MinEducationText').val()],
                                "MinWorkExperience": $('#MinWorkExperience').val(),
                                "ExpectedLocationText": $('#ExpectedLocationText').val(),
                                "ExpectedLocation": "2008",
                                "SpiderId": timestamp,
                            },
                            success: function (data) {
                                layer.close(index);
                                if (data.msg == "success") {
                                    layer.confirm("新增成功，请点击“运行”启动爬虫！")
                                    table.reload('spider_list', {
                                        where: { //设定异步数据接口的额外参数，任意设
                                        }
                                        , page: {
                                            curr: pageNum //重新从第 1 页开始
                                        }
                                    });
                                }
                            },
                            error: function () {
                                console.log("error");
                            }
                        });
                    },
                    btn2: function (index, layero) {
                        //按钮【取消】的回调
                        //return false 开启该代码可禁止点击该按钮关闭
                    }
                });
                form.render('select');

            }
        };

        $('.demoTable .layui-btn').on('click', function () {
            var othis = $(this), type = othis.data('type');
            active[type] ? active[type].call(this, othis) : '';
        });

    });

    function setSpiderId(spider_id) {
        spiderId = spider_id;
    }

    function getSpiderId() {
        return spiderId;
    }
    var tip_index;//关键字提示框index

    function showTips() {
        tip_index = layer.tips('“空格”表示搜索包含其中一个关键词的简历；</br>' +
            '“+”表示搜索必须包含“+”后面特定关键词的简历，“+”前必须加空格；</br>' +
            '“-”表示搜索排除“-”后面特定关键词的简历，“-”前必须加空格；', '.show_tips', {
            tips: [3, '#00a3a8'],
            time: 0
        });
    }

    function closeTips() {
        layer.close(tip_index);
    }

    //    $(".show_tips").on("focus", function () {
    //        alert(11111);
    //        tip_index = layer.tips('下', '.show_tips', {
    //            tips: 3
    //        });
    //    }, function () {
    //        alert(2222);
    //        layer.close(tip_index);
    //    });

</script>

</body>
</html>