<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>爬虫管理系统</title>
    <link rel="stylesheet" href="../static/css/layui.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">爬虫管理系统</div>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">简历爬虫管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="{{ url_for('cjol.main') }}" target='my_frame'>中国人才热线</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">招聘岗位爬虫</a>
                    <dl class="layui-nav-child">
                        <dd><a href="{{ url_for('job51.main') }}" target='my_frame'>51job</a></dd>
                        <dd><a href="{{ url_for('lagou.main') }}" target='my_frame'>拉勾网</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body" style="overflow-y: hidden">
        <!-- 内容主体区域 -->
        <iframe frameborder="0" name="my_frame" class="my_frame" style="height: 100%; width: 100%"></iframe>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © Hello world!
    </div>
</div>
<script src="../static/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });
</script>
</body>
</html>