<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../static/css/layui.css" media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>

<div class="layui-tab" style="margin-top: 30px;margin-left: 30px;margin-right: 30px">
    <div class="layui-btn-group demoTable">
        <button class="layui-btn" data-type="new_spider">新增爬虫</button>
    </div>
    <table class="layui-table" id='spider_list' lay-filter="spider_list"></table>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="get_result">结果</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
</div>

<script src="../static/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    //全局变量，传到子页面
    var spiderId = "";//爬虫ID

    layui.use(['element', 'table'], function () {
        var $ = layui.jquery
            , element = layui.element //Tab的切换功能，切换事件监听等，需要依赖element模块
            , table = layui.table;

        //记录页码用于重载定位
        var pageNum = 0;
        table.render({
            elem: '#spider_list'
            , id: 'spider_list'
            , url: '/lagou/get_spiders'
            , method: 'GET'
            , done: function (res, curr, count) {
                //如果是异步请求数据方式，res即为你接口返回的信息。
                //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
//                pendingPageNum = curr;
            }
            , cols: [[ //标题栏
                //{type:'checkbox',fixed: 'left'},
                {field: 'spider_id', title: 'ID', sort: true, fixed: true}
                , {field: 'Keyword', title: '关键字', sort: true, fixed: true}
                , {fixed: 'right', align: 'center', toolbar: '#barDemo'}
            ]]
            , skin: 'line' //表格风格
            , even: true
            , page: true //是否显示分页
            , limits: [5, 10, 15]
            , limit: 10 //每页默认显示的数量
        });

        //监听工具条
        table.on('tool(spider_list)', function (obj) {
            var data = obj.data;
            if (obj.event === 'get_result') {
                //获取爬虫结果
//                $('.site-demo-active').click();
                setSpiderId(data['spider_id'])
//                console.log(data['spider_id'])
                layer.open({
                    type: 2, //iframe
                    title: "爬取结果",
                    closeBtn: false,
                    area: ['550px', '350px'],
                    shade: 0.8,
                    scrollbar: false,
                    maxmin: true,
                    closeBtn: 1,
                    id: data['spider_id'], //设定一个id，防止重复弹出
                    btnAlign: 'c',
                    moveType: 1, //拖拽模式，0或者1
                    content: '{{ url_for("lagou.lagou_spider_result") }}',
//                    btn: ['关闭窗口'],
                });
            }
        });
        //触发事件
        var active = {
            new_spider: function () {
                layer.open({
                    type: 1,
                    title: "新增爬虫",
                    area: ['520px', '350px'],
                    shade: 0.8,
                    scrollbar: false,
                    resize: false,
                    id: 'new_spider', //设定一个id，防止重复弹出
                    btnAlign: 'c',
                    moveType: 1, //拖拽模式，0或者1
                    content: '哈哈哈',
                    btn: ['确定', '取消'],
                    yes: function (index, layero) {
                        //按钮【确定】的回调
//                        $.ajax({
//                            url: "/notice/update",
//                            dataType: "json",
//                            contentType: "application/x-www-form-urlencoded",
//                            type: "POST",
//                            data: {
//                                "id": data.id,
//                                "name": data.name,
//                                "author": data.author,
//                                "publishTime": data.publishTime,
//                                "content": layedit.getContent(updateIndex)
//                            },
//                            success: function (data) {
//                                layer.close(index);
//                                if (data.msg == "success") {
//                                    layer.confirm("修改成功！")
//                                    table.reload('campusNotice', {
//                                        where: { //设定异步数据接口的额外参数，任意设
//                                        }
//                                        , page: {
//                                            curr: pageNum //重新从第 1 页开始
//                                        }
//                                    });
//                                }
//                            },
//                            error: function () {
//                                console.log("error");
//                            }
//                        });
                    },
                    btn2: function (index, layero) {
                        //按钮【取消】的回调
                        //return false 开启该代码可禁止点击该按钮关闭
                    }
                });
            }
        };

        $('.demoTable .layui-btn').on('click', function () {
            var othis = $(this), type = othis.data('type');
            active[type] ? active[type].call(this, othis) : '';
        });
    });

    function setSpiderId(spider_id) {
        spiderId = spider_id;
    }

    function getSpiderId() {
        return spiderId;
    }

</script>

</body>
</html>